---
import Layout from "@layouts/layout.astro";
---
<Layout title="Page not found" description="Page not found">
    <div class="w-full h-full flex flex-col items-center justify-center gap-4">
        <i class="fa-duotone fa-solid fa-block-brick text-[12rem] text-accent"></i>
        <strong class="font-montserrat">Wall ahead. <a href="/" class="text-primary underline">Turn Back</a></strong>
    </div>
</Layout>