---
import Layout from '@layouts/layout.astro';

import { Image } from 'astro:assets';
import UserImage from '@assets/user.png';
---
<Layout title="About Me" description="About Me Page" prev={false} next={false}>
    <div class="w-full h-full grid md:grid-cols-2 py-4">
        <Image src={UserImage} alt="TravelSG" class="w-full rounded-lg border-white border-4 aspect-auto object-contain"/>
        <div class="w-full flex flex-col items-center justify-center p-4 text-center gap-4">
            <strong>Hi, my name is Ju Long.</strong>
            <p>I began my journey as a software developer while completing my diploma. Throughout the years, I have accquired many programming skills, knowledge and experience in making ideas into softwares.</p>
            <p>Currently am building a platform for me to enpower your business idea into a software product.</p>
            <p>Allow me to help you by contact me today.</p>

            <div class="flex flex-col md:flex-row items-center gap-4">
                <a href={`https://t.me/babasama?text=${encodeURI("I just came from your website and want to talk to you about something...")}`} target="_blank" class="group flex flex-row items-center gap-2">
                    <img src="/social-icons/telegram.png" alt="instagram" class="w-[30px] aspect-square"/>
                    <span class="font-ubuntu-mono group-hover:underline text-xl">@BaBaSaMa</span>
                </a>
                <a href={`mailto:long@babasama.com?subject=${encodeURI("Enquiry from your website")}`} target="_blank" class="group flex flex-row items-center gap-2">
                    <i class="fa-regular fa-envelope fa-2x"></i>
                    <span class="font-ubuntu-mono group-hover:underline text-xl">long@babasama.com</span>
                </a>
            </div>
        </div>

    </div>

    <script>
        document.addEventListener("astro:page-load", () => {
            if (window.location.pathname !== "/about") return;
        });
    </script>
</Layout>
