---
import Layout from '@layouts/layout.astro';
---
<Layout title="Home" description="Home Page">
    <div class="w-full h-full flex items-center justify-center">
        <strong id="main-text" class="font-montserrat font-semibold text-4xl text-text text-center">Hello, I Make Software</strong>
    </div>

    <script>
        import { gsap } from "gsap";
        import { selected_app } from '@src/store';
        import { navigate } from "astro:transitions/client";

        document.addEventListener("astro:page-load", () => {
            if (window.location.pathname !== "/") return;
            const pathname = window.location.pathname;

            const screen_height = document.body.scrollHeight;
            gsap.timeline({ defaults: { duration: 1 } }).from("#main-text", { y: -screen_height, duration: 1 });

            selected_app.listen((value) => {
                if (window.location.pathname !== "/") return;
                if (value === pathname) return;

                const view_height = document.body.clientHeight;
                gsap.timeline({ defaults: { duration: 1 } }).to("#main-text", { y: -view_height }, 0).then(() => { navigate(`/${value}`); });
            });
        });
    </script>
</Layout>
