---
import { ClientRouter } from 'astro:transitions';

// interface Props {
// 	title: string, 
// 	description: string,
// }

// const { title, description } = Astro.props;
const link = Astro.request.url;

import { Image } from "astro:assets";
import profileImage from '@assets/profile.png';
import Dock from '@components/dock.astro';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="generator" content={Astro.generator} />

		<link rel="sitemap" href="/sitemap-index.xml">
		<link rel="manifest" href="/manifest.json">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://kit.fontawesome.com/89ef39a558.css" crossorigin="anonymous">

		<style lang="sass"/>
		
		<ClientRouter/>
	</head>
	<body class="bg-background relative font-montserrat text-white overflow-y-auto overflow-x-hidden">
		<main class="w-screen min-h-[100dvh] flex flex-col items-start justify-between p-4 gap-4 sticky">

		</main>

        <footer id="dock" class="fixed bottom-0 w-screen mb-4">
            <Dock/>
        </footer>


        <script>
            document.addEventListener("astro:page-load", () => {
                if (window.location.pathname !== "/test") return;
                
            });
        </script>
	</body>
</html>
