---
import Content from "@layouts/content.astro";
---
<Content title="TravelSG" description="TravelSG Page">
    <div class="h-full display-image hidden" data-display="watch">
        <img src="/assets/travelsg/watchOS.png" alt="TravelSG watchOS" class="h-full aspect-auto object-contain inner-shadow"/>
    </div>

    <div class="h-full display-image hidden" data-display="mobile">
        <img src="/assets/travelsg/iOS.png" alt="TravelSG iOS" class="h-full aspect-auto object-contain inner-shadow"/>
    </div>

    <div class="h-full display-image hidden" data-display="tablet">
        <img src="/assets/travelsg/iPadOS.png" alt="TravelSG iPadOS" class="h-full aspect-auto object-contain inner-shadow"/>
    </div>

    <div class="h-full display-image hidden" data-display="widget">
        <img src="/assets/travelsg/widgets.png" alt="TravelSG widget" class="h-full aspect-auto object-contain inner-shadow"/>
    </div>

    <script>
        document.addEventListener("astro:page-load", () => { });
    </script>
</Content>