---
import Content from "@layouts/content.astro";
---
<Content title="The Watch Street Journal" description="The Watch Street Journal Page">
    <div class="h-full display-image hidden" data-display="watch">
        <img src="/assets/twsj/watchOS.png" alt="TWSJ watchOS" class="h-full aspect-auto object-contain inner-shadow"/>
    </div>

    <script>
        document.addEventListener("astro:page-load", () => { });
    </script>
</Content>