---
import Content from "@layouts/content.astro";
---
<Content title="Merlion News" description="Merlion News Page">
    <div class="h-full display-image hidden" data-display="mobile">
        <img src="/assets/merlion-news/iOS.png" alt="Merlion News iOS" class="h-full aspect-auto object-contain inner-shadow"/>
    </div>

    <div class="h-full display-image hidden" data-display="tablet">
        <img src="/assets/merlion-news/iPadOS.png" alt="Merlion News iPadOS" class="h-full aspect-auto object-contain inner-shadow"/>
    </div>
    
    <div class="h-full display-image hidden" data-display="desktop">
        <img src="/assets/merlion-news/macOS.png" alt="Merlion News macOS" class="h-full aspect-auto object-contain inner-shadow"/>
    </div>

    <script>
        document.addEventListener("astro:page-load", () => { });
    </script>
</Content>